/* thumbnail */
ytd-thumbnail .ytd-thumbnail,
ytd-thumbnail:before {
    border-radius: 0 !important;
}

/* tag */
yt-chip-cloud-chip-renderer {
    border-radius: 16px !important;

}

/* playlist */
ytd-playlist-panel-renderer {
    border-radius: 2px !important;

}

/* chat */
ytd-live-chat-frame {
    border-radius: 2px !important;
}

/* searchbox */

ytd-searchbox button,
ytd-searchbox #container {
    border-radius: 0 !important;
}

/* description */

#description-inner {
    margin: 8px;
}

#bottom-row #description {
    margin-top: 0px;
}

ytd-watch-metadata #description {
    background-color: #ffffff00 !important;
}

yt-interaction {
    background-color: #ffffff00 !important;

}

/* description icon */
.yt-spec-button-shape-next--mono {
    background-color: #ffffff00 !important;
    border-radius: 8px !important;
    padding: 12px !important;
}

.yt-spec-button-shape-next--size-m::after {
    background-color: #ffffff00 !important;
    display: none !important;
}

ytd-menu-renderer.style-scope.ytd-watch-metadata {
    max-width: 393px !important;
    position: relative !important;
    right: 0px !important;
}

.yt-spec-touch-feedback-shape--down {
    background-color: #ffffff00 !important;
}

.yt-spec-button-shape-next--segmented-end {
    margin-left: 4px !important;
    width: 32px !important;
}

/* description subscription */

ytd-subscribe-button-renderer .yt-spec-touch-feedback-shape {
    background-color: #00000010 !important;
    border-radius: 2px !important;
}

ytd-subscribe-button-renderer .yt-spec-button-shape-next--filled {
    background-color: #ff0000 !important;
}


/*
:root {
    --yt-spec-badge-chip-background: #ffffff00 !important;
    --yt-spec-button-chip-background-hover: #ffffff00 !important;
}
*/